@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,500;1,300&display=swap');
/* Color pallete: 
xiketic #1B1821,
cultured white #F6F5F3,
dark kiver #464955,
light gray #D2D6D6 */

/* General elements style */
*{
   /* margin: 0;
    padding:0;
    box-sizing: border-box; 
	*/
}   
body {
      font-family: 'Kanit', sans-serif;
	  background:#464955;
    }
a {
	text-decoration: none;
	color: #F6F5F3;
	}
img {
	border-radius: 6px;
}
/* Special General elements style */

.main-container{
	background: #1B1821;
	margin: 20px;
    padding:20px;
	height: 90%;
	box-shadow: 0 0 30px white;
	border-radius: 6px;
}
/* the navigation bar style */
nav {
	margin: 20px ;
    padding:20px;
	display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
color: white;
font-size: 18px;
font-weight: bold;
padding: 14px 16px;
}
nav a:hover {
  box-shadow: 0 0 10px #333;
  transition: all 0.15s ease-in-out;
  border-radius: 6px;

}

/* Index Style Seccion */

.search-button {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  background-color: #1B1821;
  color: #F6F5F3;
  padding: 12px 20px;
  border: none;
  border-radius:6px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* the TEXT table element */
.table-container {
  background:  #D2D6D6; 
  box-shadow: 0 0 10px black;
  border-radius: 6px;
  padding: 30px;
  width:50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;


}
/* the table */
table {
  border-collapse: collapse;
  border: 0px solid black;
  padding: 12px;
  margin: 0 auto;
}

/* the button */
.about-button {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  background-color: #1B1821;
  color: #F6F5F3;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  	 margin-top: 20px;
  margin-bottom: 20px;
}
.about-button:hover {
  background-color: #464955;
  color: #F6F5F3;
}


/* the form */
form {
  background-color: #D2D6D6;
  padding: 20px;
  border: 0px solid #000;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  width: 350px;
  margin: 0 auto;
  text-align:center;
}
/* input and textarea fields */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  resize: vertical;
  background: #F6F5F3;
}
/* form submit button */
input[type=submit] {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  background-color: #1B1821;
  color: #F6F5F3;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #464955;
}

/*about page*/

.about-page {
	display: flex;
	flex-direction: column;
	justify-content: space around;
	color: #1B1821;
	width: 50vw;
	margin: auto;

}

.item1 {
	padding: 12px 20px;
	background: #D2D6D6;
	 margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.item2 {
		padding: 12px 20px;
	background: #D2D6D6;
	 margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.item3 {
	order:3;
		padding: 12px 20px;
	background: #D2D6D6;
	 margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.item4 {
	order: 3;
		padding: 12px 20px;
	background: #D2D6D6;
	 margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}


